@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  background: #121212;
}

html {
  background: #121212;
}

.logo-font {
  font-family: 'Nunito', normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  color: #ffffff;
  margin-left: 30px;
}

.nav-element {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  text-decoration: none;
}
.nav-element:hover {
  filter: brightness(85%);
  color: #ffffff;
}

.logo {
  width: 90px;
  height: 90px;
}

.header1{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  color: #ffffff;
}

.header2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
}

.portfolio-logo {
  height: 150px;
}

.project-image {
  max-width: 100%;
}

.contact-logo {
  max-width: 75%;
}

.homepage-text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.contact {
  display: inline;
}

.alert-p {
  color: #842029;
}

p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

input {
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0,0,0,.5);
  background: #313131;
  color: #FFFFFF;
}
