@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  background: #121212;
}

html {
  background: #121212;
}

.logo-font {
  font-family: 'Nunito', normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  color: #ffffff;
  margin-left: 30px;
}

.nav-element {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  color: #ffffff;
  text-decoration: none;
}
.nav-element:hover {
  filter: brightness(85%);
  color: #ffffff;
}

.logo {
  width: 90px;
  height: 90px;
}

.header1{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
  color: #ffffff;
}
p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

a {
  text-decoration: none;
}
