{% extends 'main/home.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
<title>Create contact</title>
{% endblock title_block %}
{% block main_section %}
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="form-section">
                  <h2 class="text-center">Create contact</h2>
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" name="button" class="btn btn-outline-light mt-3">Create</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main_section %}