{% extends 'main/home.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
<title>Delete portfolio</title>
{% endblock %}
{% block main_section %}
    <div class="form-section">
        <h2 class="display-4 text-center">Are you sure you want to delete the portfolio?</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-outline-danger">Yes</button>
                <a href="{% url 'profile' %}" class="text-muted">No</a>
            </div>
        </form>
    </div>
{% endblock %}