{% extends 'main/home.html' %}
{% block title_block %}
    <title>Profile</title>
{% endblock %}
{% block main_section %}
    <div class="row">
        <div class="mx-auto d-block col-xs-10 col-sm-10 col-md-10 col-lg-8">
            <h1 class="display-4 text-center">My portfolios</h1>
        </div>
    </div>
    {% for portfolio in portfolios %}
        <div class="row">
            <div class="mx-auto d-block col-xs-10 col-sm-10 col-md-10 col-lg-8">
                <hr/>
                <div class="row">
                    {% if portfolio.image %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <a class="link-light link-unstyled" href="{% url 'change_portfolio' portfolio.link %}"><img style="max-width: 100%;" src="{{ portfolio.image.url }}"></a>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mx-auto d-block">
                        <a class="link-light link-unstyled" href="{% url 'portfolio' portfolio.link %}"><h1 class="display-6 text-center">{{portfolio.header}}</h1></a>
                        <p class="lead text-center">{{ portfolio.about_me }}</p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="mx-auto d-block col-xs-10 col-sm-10 col-md-10 col-lg-8 text-center">
                        <a class="text-center" href="{% url 'change_portfolio' portfolio.link %}"><button class="btn btn-outline-light">Change</button></a>
                        <a class="text-center" href="{% url 'delete_portfolio' portfolio.pk %}"><button class="btn btn-outline-danger">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="mx-auto d-block col-xs-10 col-sm-10 col-md-10 col-lg-8">
            <hr/>
            <div class="row">
                    <div class="mx-auto d-block col-xs-10 col-sm-10 col-md-10 col-lg-8 text-center">
                        <a class="text-center" href="{% url 'create_portfolio' %}"><button class="btn btn-light">Create new portfolio</button></a>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}