{% extends 'main/home.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
<title>Password reset complete</title>
{% endblock title_block %}
{% block main_section %}
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div>
                  <h2 class="text-center">Password reset complete</h2>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <a href="{% url 'login' %}" class="text-light font-weight-bold">Log in</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main_section %}